.nav-item>button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.details>ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.details>ul>li{
    margin-right: 10px;
}
.weird-border-top-left{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    height: 150px;
    width: 150px;
    border-radius:50px 0px;
    transform: rotate(-5deg);
    background-color: blue;
}
.weird-border-top-center{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    height: 150px;
    width: 150px;
    border-radius:50px 0px;
    transform: rotate(-5deg);
    background-color: blue;
}
.weird-border-top-right{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    height: 150px;
    width: 150px;
    border-radius:50px 0px;
    transform: rotate(-5deg);
    background-color: blue;
}
.weird-border-center-left{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    height: 150px;
    width: 150px;
    border-radius:50px 0px;
    transform: rotate(-5deg);
    background-color: blue;
}
.weird-border-center-center{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    height: 150px;
    width: 150px;
    border-radius:50px 0px;
    transform: rotate(-5deg);
    background-color: blue;
}
.weird-border-center-right{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    height: 150px;
    width: 150px;
    border-radius:50px 0px;
    transform: rotate(-5deg);
    background-color: blue;
}
.weird-border-bottom-left{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    height: 150px;
    width: 150px;
    border-radius:50px 0px;
    transform: rotate(-5deg);
    background-color: blue;
}
.weird-border-bottom-center{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    height: 150px;
    width: 150px;
    border-radius:50px 0px;
    transform: rotate(-5deg);
    background-color: blue;
}
.weird-border-bottom-right{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    height: 150px;
    width: 150px;
    border-radius:50px 0px;
    transform: rotate(-5deg);
    background-color: blue;
}
.image-trans{
    translate: -0px 30px;
    transform: rotate(5deg);
    align-self: center;
}
footer {
  background-color: blue;
  color:white;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

