* {
    margin: 0;
}

#button {
    border-radius: 50px !important;
    padding-left: 40px;
    padding-right: 40px;
}

.form-control {
    border-radius: 50px !important;
}

#userinput {
    background: url(person.svg) no-repeat left;
    background-size: 1rem;
    background-position: 10%;
    
}
#emailinput {
    background: url(envelope.svg) no-repeat left;
    background-size: 1rem;
    background-position: 10%;
}
#passinput {
    padding-left: ;
    background: url(lock-fill.svg) no-repeat left;
    background-size: 1rem;
    background-position: 10%;
}